<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">List Of Trains</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    List Of Trains
                    <div class="input-group pull-right">
                        <label class="control-label"> Items Per Page (1-100) </label> <input
                            name="itemsperpage" class="input-sm form-control pull-right"
                            min=1 max=100 value=5 step=1 type="number"
                            ng-model-options="{ debounce: 1000 }" ng-model="itemsPerPage">
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Check for Details</th>
                            <th>S.No.</th>
                            <th>Train No</th>
                            <th>Train Name</th>
                            <th>No of Days</th>
                            <th>Originating days</th>
                            <th>Train Type</th>
                            <th>Source</th>
                            <th>Destination </th>

                            <th>Actions</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th><input type="text"
                                       placeholder="Train No" class="form-control input-sm"/></th>
                            <th><input type="text"
                                       placeholder="Train Name" class="form-control input-sm"/></th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>

                                <select ng-model="dummy" class="form-control input-sm input-sm">
                                    <option value="">
                                        All
                                    </option>
                                    <option ng-repeat="item in trainTypes" value="{{ item.name }}">
                                        {{ item.name }}
                                    </option>
                                </select>


                            </th>
                            <th><input type="text"
                                       placeholder="From Station"
                                       class="form-control input-sm" /></th>
                            <th><input type="text"
                                       placeholder="To Station" class="form-control input-sm" />
                                </th>
                            <th></th>
                            <th></th>
                            <th>&nbsp;</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="trainItem in trainsList">
                            <td><a
                                    ui-sref="dashboard.trainTimeTable({trainNo:trainItem.trainNo})"
                                    class="btn btn-success btn-xs fa fa-th-list" title="View"></a></td>
                            <td>{{(perPage)? ((currentPage * perPage + $index
                                +1)-perPage ):''}}</td>
                            <td>{{trainItem.trainNo}}</td>
                            <td>{{trainItem.trainName}}</td>
                            <td>{{trainItem.noOfDaysTrainRuns}}</td>
                            <td><span ng-repeat="day in trainItem.split(';')">{{Days[day] | limitTo: 3}} </span></td>
                            <td>{{trainItem.trainType}}</td>
                            <td>{{trainItem.fromStation}}</td>
                            <td>{{trainItem.toStation}}</td>

                            <td><a class="btn btn-xs btn-warning fa fa-edit" title="Edit"
                                   ng-click="selectTrain(trainItem.id)"> </a> <a
                                    class="btn btn-xs btn-danger fa fa-remove"
                                    ng-click="removeTrain(trainItem.id)"
                                    confirm="Are you sure to delete Train: '{{trainItem.trainNo}}-{{trainItem.startDay}}' !!!"
                                    confirm-settings="{size: 'md'}"
                                    confirm-header-class="confirm-header-danger "
                                    confirm-footer-class="confirm-footer-default"
                                    confirm-ok-button-class="btn-danger"
                                    confirm-cancel-button-class="btn-default"
                                    confirm-title="Confirm Deletion!!" confirm-ok="Yes"
                                    confirm-cancel="No" title="Remove"> </a></td>
                        </tr>
                        </tbody>
                        <tbody ng-show="isLoading">
                        <tr style="height:200px">
                            <td colspan="11" class="text-center"><i
                                    class="fa fa-spinner fa-4x fa-pulse"> </i> Loading Trains...</td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td colspan="9" class="text-center">
                               <!-- <div st-items-by-page="itemsPerPage" st-pagination=""
                                     st-template="scripts/directives/pagination/pagination.custom.html"></div>
                                     !-->
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<train-form traindetails="selectedTrain"></train-form>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>